{% extends 'base.html' %}
{% block start %}

<div class="container bg-light">
    <h1 class="text-center">LOGIN</h1>
    <div class="row">
        <br/>
        <form method="POST" >
            {% csrf_token %}
    {{ form.as_p }}

                <p>Create New Account - <a href="/register/">Register</a></p>
                
             <button type="submit" class="btn btn-success">Login</button>   
            </div>
          
        </form>
    </div>
    {% if messages %}  
     
    <div class="alert alert-warning" role="alert">
        {% for message in messages %}

        {{message}}

        {% endfor %}
    </div>
    {% endif %}
</div>


{% endblock %}